{% extends 'ApplicationServiceConstructorBundle::layout.html.twig' %}

{% block content %}
        
<h3>Project name</h3>
 
    
    
<div class="col-lg-6">
          <h4>Subheading</h4>
</div>
<div class="col-lg-6">
          <h4>Subheading</h4>
</div>
{% endblock %}